* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url("img/cheap_diagonal_fabric.png")
}

.jumbotron {
    background: url("img/train.jpg") center center no-repeat;
    background-size: cover;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: right;
}

.header {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.panel-heading, button {
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 0.1em;
}

td {
    width: 25%;
    padding-right: 150px;
}